#{extends 'main.html' /}
#{set title:'About' /}

#{menu id:"about"/}

<section class="ui center aligned middle aligned segment">
  <p>
    Welcome to WeatherTop, this publicly available resource links to our weatherTop 1000 weather stations located in
    Waterford Ireland. This app gives you the current weather conditions at these sites.
  </p>
</section>
<section class="ui center aligned middle aligned segment">
  <h1 class="ui header">
    Contact Us
  </h1>
  <p>
    Address: <br>
    WeatherTop Inc., <br>
    Waterford Industrial Park, <br>
    Cork Road <br>
    Waterford <br>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9771.925642800465!2d-7.1500992!3d52.2437213!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd97d82caf811c31e!2sWaterford%20Ind%20Est!5e0!3m2!1sen!2sie!4v1652716355462!5m2!1sen!2sie" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> <br>
    Phone: 051 xxxxxx <br>
    email: info@wtinc.ie
  </p>
</section>