#{extends 'main.html' /}
#{set title:'Start' /}

#{welcomemenu id:"start"/}

  <section class="ui center aligned middle aligned segment">
  <h1 class="ui header">
    WeatherTop Stations
  </h1> 
  <p>
    This app will allow you to create, manage and share weather readings from various weather stations.
    Simply enter the station details on the dashboard. You can also add new locations for weather stations and manage all readings from these stations.
  </p>
</section>
<section class="ui center aligned middle aligned segment">
  <h1 class="ui header">
    Average monthly temperature and rainfall in Waterford
  </h1>
  <p>
    <img src="\public\images\waterford-ireland.PNG">
  </p>
</section>
<section class="ui center aligned middle aligned segment">
  <h1 class="ui header">
    Beaufort Scale
  </h1>
  <p>
    <img src="\public\images\beaufort.jpg">
  </p>
</section>