#{extends 'main.html' /}
#{set title:'Station' /}

#{menu id:"dashboard"/}

<script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.css">
<script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.js"></script>

<table class = "ui inverted teal table">
<thead>
<tr>
  <th>${station.name} <i class = "big purple map marker alternate icon"> </i></th>
  <th>Weather  <i class ="${station.weatherIcon}"></i></th>
  <th>Temp. <i class="big red thermometer icon"></i></th>
  <th>Wind <i class="big white wind icon"></i></th>
  <th>Pressure <i class="big yellow tachometer alternate icon"></i></th>
</tr>
</thead>
<tbody>
<tr>
  <td>Lat: ${station.latitude}<br>
  Long: ${station.longitude}</td>
  <td>
    ${station.lastWeather}
  </td>
  <td>
    ${station.lastTemp}<br>
    ${station.lastTempF}<br>
    Max: ${station.maxTemp}<br>
    Min: ${station.minTemp}
  </td>
  <td>${station.Beau}<br>
  ${station.windComp}<br>
  Feels like: ${station.windChill}<br>
  Max: ${station.maxWind}<br>
  Min: ${station.minWind}</td>
  <td>${station.lastPressure} hpa<br>
    Max: ${station.maxPressure}<br>
    Min: ${station.minPressure} </td>
</tr>
</tbody>
</table>

<section class="ui segment">
  <h2 class="ui header">
    ${station.name}
  </h2>
  #{listreadings station:station /}
  #{addReading station:station /}
</section>